<h1> List of Courses </h1>

<% j = 1 %>
<% @courses.each do |course| %>
  <div class = 'course_<%= j %>'>
    <li><%= course.name %>: <%= course.student_count %></li>
          <% course.students.each do |student| %>
             - <%= student.name %><br/>
          <% end %>
    <% j += 1 %>
  </div><br/>
<% end %>
